@layer components {
  .btn {
    @apply px-4 py-2 rounded-lg font-medium transition;
  }

  .btn-primary {
    @apply bg-violet-600 text-white hover:bg-violet-700;
  }

  .btn-outline {
    @apply border border-slate-700 text-gray-200 hover:bg-slate-800;
  }

  .btn-danger {
    @apply bg-red-500 text-white hover:bg-red-600;
  }
}
